body{
    margin: 0;
    padding: 0;
    background: hsl(211, 32%, 54%);
    font-family: Arial;
}

.contenedor{
    width: 80%;
    max-width: 700px;
    margin: 50px auto;
    background: white;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1{
    color: rgb(50, 94, 240);
    margin-bottom: 20px;
}

p{
    color: black;
    font-size: 18px;
    line-height: 1.6;
}

img{
    width: 300px;
    margin: 20px 0;
    border-radius: 10px;
}